.user-avatar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    line-height: 60px;
}

.user-avatar-circle > * {
    line-height: 120px;
    font-size: 40px;
    position: relative !important;
    left: 0 !important;
}

.user-summary {
    text-align: center;
    padding-bottom: 10px;
}

.user-summary .full-name {
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-summary .username {
    font-size: 20px;
}

.user-summary .user-joined {
    margin-top: 5px;
}